<h4>
  Identificación</h4>
<div>
  <p>Introduzca sus datos</p>
  <p *ngIf="loginIncorrecto" class="text-danger">Usuario y/clave INCORRECTOS, por favor proceda de nuevo</p>

  <form class="form-horizontal" #loginForm="ngForm">
    <div class="form-group">
      <label>Email: </label>
      <input type="text" class="form-control" required [(ngModel)]="login.email" name="email" #email="ngModel">
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
        El correo es obligatorio
      </div>
    </div>
    <div class="form-group">
      <label>Clave: </label>
      <input type="text" class="form-control" required [(ngModel)]="login.clave" name="clave" #clave="ngModel">
      <div [hidden]="clave.valid || clave.pristine" class="alert alert-danger">
        La clave es obligatoria
      </div>
    </div>


    <div>
      <button class="btn btn-primary mr-3" type="submit" [disabled]="!loginForm.valid" (click)="validar(loginForm.value)">
				Entrar
			</button>
    </div>

  </form>

</div>