<div class="row">
    <div class="col-6">
        <table class="table">
            <tr>
                <th>Nombre</th>
                <td>{{pet.name}}</td>
            </tr>
            <tr>
                <th>Fecha de Nacimiento</th>
                <td>{{pet.birthDate}}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{pet.typeName}}</td>
            </tr>
            <tr>
                <td><button (click)="borrarPet(pet) " class="btn btn-danger mx-4">Borrar</button>
                    <button (click)="modPet(pet) " class="btn btn-primary  mx-4">Modificar</button>
                    <button (click)="addVisit(pet) " class="btn btn-primary">Añadir Visita</button></td>
            </tr>
        </table>
    </div>
    <div class="col-6">
        <app-visit-list [visits]="pet.visits"></app-visit-list>

    </div>
</div>