<h2>Nueva Visita</h2>
<h4>Pet</h4>
<table class="table">

    <thead>
        <th>Nombre</th>
        <th>Fecha de Nacimiento</th>
        <th>Tipo</th>
        <th>Owner</th>
    </thead>
    <tbody *ngIf="vacio">
        <td>{{pet.name}}</td>
        <td>{{pet.birthDate}}</td>
        <td>{{pet.type.name}}</td>
        <td>{{pet.owner.firstName}} {{pet.owner.lastName}}</td>
    </tbody>
</table>

<form class="form-horizontal" #visit="ngForm" (ngSubmit)="anhadir(visit.value)">
    <div class="form-group ">
        <label>Fecha Visita: </label>
        <input type="date" class="form-control" required [(ngModel)]="visita.visitDate" name="visitDate" #visitDate="ngModel">

    </div>
    <div class="form-group ">
        <label>Descripción: </label>
        <input type="text" class="form-control" required [(ngModel)]="visita.description" name="description" #description="ngModel">

    </div>

    <div>

        <button class="btn btn-primary mr-3 " type="submit" [disabled]="!visit.valid">
            Añadir
        </button>

        <button class="btn btn-primary mr-3 " type="button" routerLink="/detalles-owner/{{pet.owner_id}}">
            Cancelar
        </button>

    </div>

</form>