<div style="text-align:center">
  <h4>Ejemplico de uso JWT en Angular</h4>
</div>

<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand">Ejemplo JWT</a>
  <button class="navbar-toggler" type="button" (click)="navBar.isNavbarCollapsed = !navBar.isNavbarCollapsed" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
  <div [ngbCollapse]="navBar.isNavbarCollapsed" class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/" routerLinkActive="active">Inicio <span class="sr-only">(current)</span></a>

      <li *ngIf="navBar.login" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="cursor: pointer;" (click)="navBar.personas.dropdown = !navBar.personas.dropdown" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							personas
						</a>
        <div [ngbCollapse]="navBar.personas.dropdown" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/personas-listar" routerLinkActive="active" (click)="navBar.personas.dropdown = !navBar.personas.dropdown">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span><span>Todas</span></a>
          <a class="dropdown-item" routerLink="/personas-add" routerLinkActive="active" (click)="navBar.personas.dropdown = !navBar.personas.dropdown">Añadir nueva</a>
        </div>
      </li>

      <a *ngIf="!navBar.login" class="nav-item nav-link" routerLink="/login" routerLinkActive="active">LOGIN</a>

      <a *ngIf="navBar.login" class="nav-item nav-link" (click)="cerrarLogin()" style="cursor: pointer;" routerLinkActive="active">LOGOUT</a>

      <span *ngIf="navBar.login" class="nav-item nav-link">({{navBar.usuario}})</span>

    </div>
  </div>
</nav>