<form class="form-horizontal" #owner="ngForm" (ngSubmit)="anhadir(owner.value)">
    <div class="form-group">
        <label>NOMBRE: </label>
        <input type="text" class="form-control" required [(ngModel)]="prop.firstName" name="firstName" #firstName="ngModel">

    </div>
    <div class="form-group ">
        <label>APELLIDOS: </label>
        <input type="text" class="form-control" required [(ngModel)]="prop.lastName" name="lastName" #lastName="ngModel">

    </div>

    <div class="form-group ">
        <label>DIRECCIÓN: </label>
        <input type="text" class="form-control" required [(ngModel)]="prop.address" name="address" #address="ngModel">

    </div>

    <div class="form-group ">
        <label>CIUDAD: </label>
        <input type="text" class="form-control" required [(ngModel)]="prop.city" name="city" #city="ngModel">

    </div>

    <div class="form-group ">
        <label>TELEFONO: </label>
        <input type="text" class="form-control" required [(ngModel)]="prop.telephone" name="telephone" #telephone="ngModel">

    </div>
    <div>

        <button class="btn btn-primary mr-3 " type="submit" [disabled]="!owner.valid">
            Añadir
        </button>

        <button class="btn btn-primary mr-3 " type="button" routerLink="/owners">
            Cancelar
        </button>

        <!--
            Si queremos que mantenga los parámetros de la ruta sería así:
             <button type="button " class="btn btn-primary " routerLink="../ ">Cancelar</button>
        -->
    </div>

</form>