<form class="form-horizontal" #owner="ngForm" (ngSubmit)="anhadir(owner.value) ">
    <div class="form-group">
        <label>NOMBRE: </label>
        <input type="text" class="form-control" required [(ngModel)]="owner.firstname" name="nombre" #nombre="ngModel">

    </div>
    <div class="form-group">
        <label>APELLIDOS: </label>
        <input type="text" class="form-control" required [(ngModel)]="owner.lastname" name="apellidos" #apellidos="ngModel">

    </div>

    <div class="form-group">
        <label>DIRECCIÓN: </label>
        <input type="text" class="form-control" required [(ngModel)]="owner.address" name="direc" #direc="ngModel">

    </div>

    <div class="form-group">
        <label>CIUDAD: </label>
        <input type="text" class="form-control" required [(ngModel)]="owner.city" name="ciudad" #ciudad="ngModel">

    </div>

    <div class="form-group">
        <label>TELEFONO: </label>
        <input type="text" class="form-control" required [(ngModel)]="owner.telephone" name="tel" #tel="ngModel">

    </div>


    <div>
        <button class="btn btn-primary mr-3" type="submit" routerLink="/owners" [disabled]="!owner.valid">
            Añadir
        </button>
        <button type="button" class="btn btn-warning" routerLink="/owners">Cancelar</button>
        <!--
            Si queremos que mantenga los parámetros de la ruta sería así:
             <button type="button" class="btn btn-primary" routerLink="../">Cancelar</button>
        -->
    </div>

</form>