<div class="container">
    <h3>Owners</h3>
    <button routerLink="/form/-1" class="btn btn-outline-light text-dark">Añadir Ownwer</button>
    <table class="table table-bordered ">
        <thead>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Dirección</th>
            <th>Ciudad</th>
        </thead>
        <tbody>
            <tr *ngFor="let ow of arrOwners">
                <td><a routerLink="/detalles-owner/{{ow.id}}">{{ow.firstName}}</a></td>
                <td>{{ow.lastName}}</td>
                <td>{{ow.address}}</td>
                <td>{{ow.city}}</td>
            </tr>
        </tbody>
    </table>
</div>