<p>
    <a class="btn bt-info" routerLink="/personas-add/-1" role="button" routerLinkActive="active">Añadir (Enlace)</a>
    <button type="button" (click)="irANuevaPersona()">Añadir (Botón)</button>
</p>
<table border="1 ">
    <thead>
        <tr>
            <th>ID</th>
            <th>DNI</th>
            <th>NOMBRE</th>
            <th>APELLIDOS</th>
            <th>Borrar</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody id="filas_tabla ">
        <tr *ngFor="let personas of listaPer; index as i ">
            <td>{{personas.ID}}</td>
            <td>{{personas.DNI}}</td>
            <td>{{personas.NOMBRE}}</td>
            <td>{{personas.APELLIDOS}}</td>
            <td><button (click)="borrar(i) ">Borrar</button></td>
            <td><button (click)="selec(personas) ">Editar</button></td>

        </tr>
    </tbody>
</table>