<h3 class="bg-dark text-light">Detalles Owner</h3>
<table class="table table-bordered ">
    <tr>
        <th>ID</th>
        <td>{{owner.id}}</td>
    </tr>
    <tr>
        <th>NOMBRE</th>
        <td>{{owner.firstName}}</td>
    </tr>
    <tr>
        <th>APELLIDOS</th>
        <td>{{owner.lastName}}</td>
    </tr>
    <tr>
        <th>DIRECCION</th>
        <td>{{owner.address}}</td>
    </tr>
    <tr>
        <th>CIUDAD</th>
        <td>{{owner.city}}</td>
    </tr>
    <tr>
        <th>TELEFONO</th>
        <td>{{owner.telephone}}</td>
    </tr>
    <tr>
        <th>MASCOTAS</th>
        <td>{{owner.pets}}</td>
    </tr>
</table>
<button type="button" class="btn btn-outline-light text-dark" (click)="borrar(owner)">Borrar</button>
<button type="button" class="btn btn-outline-light text-dark" (click)="modificar(owner)">Modificar</button>
<button type="button" class="btn btn-outline-light text-dark" (click)="anhadirPet(owner)">Añadir pet</button>

<button type="button" class="btn btn-primary" routerLink="/owners">Volver</button>

<app-pet-detalles *ngIf="owner.pets" [owner]="owner"></app-pet-detalles>