<p>
    <a class="btn btn-primary  mx-2" routerLink="/personas-add/-1" role="button" routerLinkActive="active">Añadir (Enlace)</a>
    <button class="btn btn-warning" type="button" (click)="irANuevaPersona()">Añadir (Botón)</button>
</p>
<table class="table table-responsive table-hover table-striped">
    <thead class="text-white bg-primary">
        <tr>
            <th>ID</th>
            <th>DNI</th>
            <th>NOMBRE</th>
            <th>APELLIDOS</th>
            <th>Borrar</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody id="filas_tabla ">
        <tr *ngFor="let personas of listaPer;">
            <td>{{personas.id}}</td>
            <td>{{personas.dni}}</td>
            <td>{{personas.nombre}}</td>
            <td>{{personas.apellidos}}</td>
            <td><button (click)="borrar(personas) " class="btn btn-primary">Borrar</button></td>
            <td><button (click)="selec(personas) " class=" btn btn-warning">Editar</button></td>

        </tr>
    </tbody>
</table>